body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url("Images/Homepage2.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.contact-container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.contact-info, .contact-form {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

.contact-info {
    background-color: white;
}

.contact-form {
    background-color: white;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-top: 10px;
}

.contact-form input, .contact-form textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #b78246;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #b78246;
}


@media (max-width: 768px) {
    .contact-container {
        flex-direction: column;
    }
}

nav {
    background-color: white;
    overflow: hidden;
    padding: 0 20px;
}

.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.business-name {
    color: black;
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center; 
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: block;
    color: #b78246;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    color: #b78246;
}

.menu-icon {
    display: none;
    font-size: 30px;
    color: #b78246;
    padding: 14px 16px;
    cursor: pointer;
}

.nav-header {
    display: none;
}

#menu-toggle {
    display: none;
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .big-business-name {
        display: none;
    }

    .nav-menu {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px; 
        left: 0;
        background-color: #ffe6d8; 
        color: black;
        height: calc(100vh - 60px); 
        z-index: 1;
    }

    nav ul li a {
        display: block;
        color: black;
        font-size: 18px;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    

    nav ul li {
        display: block;
        text-align: center;
    }

    .menu-icon {
        display: block;
    }

    .nav-header {
        display: flex;
    }

    #menu-toggle:checked ~ .nav-menu {
        display: flex;
    }
}